.optBox {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
font-size: 16px;
font-weight: 500;
width: 80px;
color: #fff;
background-color: #085142;
border: none;
border-radius: 50%;
padding: 8px;
}