:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.body {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  height: 641px;
  background: rgb(70, 201, 178);
  background: radial-gradient(circle, rgba(70, 201, 178, 1) 0%, rgba(59, 171, 158, 1) 22%, rgba(23, 130, 152, 1) 53%, rgba(0, 212, 255, 1) 71%, rgba(69, 201, 153, 1) 86%, rgba(34, 92, 104, 1) 96%);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
